 * {
   margin: 0px ;
   padding: 0px ;
   border: none;
   /* border: 1px black solid; */
   box-sizing: border-box;
   
 }

body {
  height: 100%;
  width: 100vw;
  font-family: sans-serif;
  color: white !important;
  /* background-color: white; */
  background-color: black !important;
}
